.scratchpad {
  border: 2px solid black;
  margin-bottom: 1rem;
}

.fractionLine {
  border-bottom: 4px solid black;
}

.difficultyButton {
  width: 100%;
}

.questionHistory {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 750px;
}
